*{
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #6e5a00;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li{
    cursor: pointer;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #6e5a00;
    transition: color 0.3s ease;
}